body{
  background-image: linear-gradient(to top,rgb(35,36,39), rgb(74, 75, 76));
  background-repeat: no-repeat;
  min-height: 100vh;
}
 nav{
    display: flex;
    padding: 20px;
}
nav ul{
    display: flex;
    flex-basis: 90%;
    list-style: none;
    font-size: 22px;
    justify-content: end;
}
nav ul li a{
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(65,224,253);
    padding: 6px;
}
.boldT{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    height:80vh ;
}
.boldT div p{
    font-size: 60px;
    font-weight: 600;
    color: aliceblue;
}
.boldT div .cbtn{
    display: flex;
    justify-content: center;
}
.boldT div div button{
    height: 50px;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    border-radius: 20%;
    border: 1px solid white;
}
.vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .cbtn {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .cbtn {
      width: 100%;
      height: auto;
    }
  }
  html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(239, 225, 225);
  text-decoration: none;
}
.c1{
  min-height: 200px;
  background-color: rgb(63, 60, 60);
}
.c2{
  min-height: 200px;
  background-image: linear-gradient(to bottom, rgb(63, 60, 60), rgb(47,48,50));
}
.c-all{
  animation-name: Load;
  animation-duration: 0.8s;
  border: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  overflow: hidden;

}

.line-w{
  height: 2px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.002);
  position: absolute;
  margin: 0px;
  left: -90px;
  top: -100px;
  border-radius:50%;
  transform: rotate(-30deg);
  border: none;
  box-shadow: 2px 5px 5px 10px rgba(255, 255, 255, 0.002);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: LoadL;
  animation-duration: 1.5s;
}
.line-w2{
  height: 2px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.002);
  position: absolute;
  margin: 0px;
  left: -90px;
  top: -100px;
  border-radius:50%;
  transform: rotate(-30deg);
  border: none;
  box-shadow: 2px 5px 5px 10px rgba(255, 255, 255, 0.002);
  animation-name: LoadL2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
@keyframes LoadL {
  to {top: 500px;}
}
@keyframes LoadL2 {
  to {top: 500px;}
}